.details-header-review {
  height: 24px;

  color: var(--color-text);
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 35px;
}

.change-review {
  margin-left: "5px";
  height: 16px;
  width: 45px;
  color: var(--color-primary);
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
}

.label-review {
  height: 24px;
  margin-bottom: 0px;
  color: var(--color-text);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
}
.name-review {
  height: 22px;

  color: var(--color-text-secondary);
  font-family: Inter;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}
.ant-form-item-label {
  text-align: left !important;
}

.ant-col-18 {
  flex: unset;
}

.ant-form-item:first-child {
  margin-bottom: 12px !important; 
}

.ant-form label {
  font-size: 11px;
}

.ant-form-item-control-input-content {
  padding-left: 0% !important;
}