/*------- Form -------------*/
.form-layout{
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
}

.detail-header {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #f1eded;
    padding: 20px 24px 16px 30px;
    display: flex;
    justify-content: space-between;

}

.ant-alert-banner {
    margin: 10px 24px 0px 24px;
}
.banner{
    margin:12px 24px -10px 24px;
}
